extends layout

block content
	<div class="nav_bar">
	<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/cyphers">Cyphers</a></li>
	<li><a href="/contact">Contact</a></li>
	<li style="float:right"><a href="/about">About</a></li>
	</ul>
	</div>
	<br>

	<div class="login_area">
	<textarea rows="1" cols="20" id="login_ta"> </textarea>
	<p id="p2">Key: </p>
	<textarea rows="1" cols="20" id="password_ta" > </textarea> <br/>
	<button type="button" onclick="encrypt(false)" id="signup_button"> Sign up </button >
	<button type="button" onclick="decrypt(true)" id="login_button"> Log in </button >
	</div>

	<script type="text/javascript" src="javascripts/main.js"></script>
