extends layout

block content
	<div class="nav_bar">
	<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/cyphers">Cyphers</a></li>
	<li><a href="/contact">Contact</a></li>
	<li style="float:right"><a href="/about">About</a></li>
	</ul>
	</div>
	<br>


	<script type="text/javascript" src="javascripts/main.js"></script>
