extends layout

block content
	<div class="nav_bar">
	<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/cyphers">Cyphers</a></li>
	<li><a href="/contact">Contact</a></li>
	<li style="float:right"><a href="/about">About</a></li>
	</ul>
	</div>
	<br>

	<div class="login_area">
	<textarea maxlength="25" rows="1" cols="23" id="login_ta" placeholder="Username"></textarea>
	<textarea maxlength="25" rows="1" cols="23" id="password_ta" placeholder="Password"></textarea> <br/>
	<button type="button" onclick="signupuser()" id="signup_button"> Sign up </button >
	<button type="button" onclick="Loginuser" id="login_button"> Log in </button >
	</div>

	<script type="text/javascript" src="javascripts/main.js"></script>
