extends layout

block content
  <div class="nav_bar">
  <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/cyphers">Cyphers</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/about">About</a></li>
  </ul>
  </div>
