extends layout

block content
  h1= title
  p Welcome to #{title}

  <a href="localhost:5000/cyphers">Cyphers website</a>

  <a href="localhost:5000/cyphers"><input type="button" name="button" value="click"></a>
