extends layout

block content
  <div class="nav_bar">
  <ul>
  <li><a href="/cyphers">Cyphers</a></li>
  <li><a href="/about">About</a></li>
  <li style="float:right"><a href="/">Sign Out</a></li>
  </ul>
  </div>
  <h2> About the website</h2>
  <p> A website that enables a user to encode simple text messages using different classical cyphers/encoding schemes.  </p>
  <p> In cryptography,<em> a cypher </em> is an algorithm for performing encryption or decryption—a series of well-defined steps that can be followed as a procedure.</p>
  <p> This website makes use of the following npm packages: fs, bodyParser, node-localStorage and HTML express template (pug)</p><br>
  <p> DAVID PIRES LAZARO 40406091</p>
