extends layout

block content
	<h2> Where are we?</h2>
	<p> A site that allows you to send cyphers to friends</p>
	<p> Sign up dawg. </p>
	<br>
	<div class="login_area">
	<input type="username" maxlength="25" rows="1" cols="23" id="username_ta" placeholder="Username"></input>
	<input type="password" maxlength="25" rows="1" cols="23" id="password_ta" placeholder="Password"></input> <br/>
	<button type="button" onclick="signupuser()" id="signup_button"> Sign up </button >
	<button type="button" onclick="loginuser()" id="login_button"> Log in </button >
	</div>

	<script type="text/javascript" src="javascripts/signup.js"></script>
	<script type="text/javascript" src="javascripts/login.js"></script>
