html{
	 background: #272D39;
}

body{
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 950px;
    padding:  3em 3em 4em;
}

h1{
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

#message, #key, #msgusername {
    resize: none;
    font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
	 padding: 5px 5px;
	 outline: none;
}

input {
	resize: none;
	font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: inline;
	padding: 5px 5px;
	font-size: 14px;
	margin-bottom: 5px;
}

#error_text, #signuperrormsg {
	resize: none;
	border: 0;
	cursor: default;
	font-size: 16px;
	color: red;
	padding-bottom: 14px;
	font-weight: bold;
	outline: none;
}

#signuperrormsg {
	resize: none;
	display: inline;
}

button{
    display: inline-block;
    border: none;
    border-radius: 0.15rem;
    padding: 12px 26px;
    margin-right: 10px;
    text-decoration: none;
    background: #c6c6c6;
    color: #000;
    font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
	 font-weight: bold;
    line-height: 1;
    cursor: pointer;
    text-align: center;
	 outline: none;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover{
	background-color: #555;
	color: white;
}


button:active{
    transform: scale(0.97);
}

#signup_button {
	display: inline-block;
	margin-top: 20px;
}



img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.5em auto;
    max-width: 70%;
}

.dropdown {
    position: relative;
    border: none;
    width: 250px;
    margin: 0px 0px 20px 0px ;
    padding: 10px 15px;
    font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background: #c6c6c6;
    color: #000;
	 font-weight: bold;
    border-radius: 0.15rem;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
}

.dropdown:hover{
     background-color: #555;
	  color: white;
}

.dropdown:active{
    transform: scale(0.97);
}

#p1{
	margin: 0px 0px 5px 0px ;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

.nav_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c6c6c6;
}

.nav_bar li{
	float: left;
}

.nav_bar li a {
  display: block;
  color: #000;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

li a:hover {
  background-color: #555;
  color: white;
}

li a:active{
    transform: scale(0.97);
}

.login_area textarea {
	display: block;
	margin-left: auto;
	margin-right: auto;
	resize: none;
	color: black;
	border-radius: 0.35rem;
	font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
	outline: none;
}

.login_area button {
	display: inline-block;
	font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
}
